<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
     <link rel="stylesheet" href="../css/com.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Nethra senior care</title>
</head>






<footer class="nethra-footer">
    <div class="footer-container">
       
        <div class="footer-column brand-section">
            <div class="footer-logo">
                <img src="../images/slogo.jpg.png" alt="Vedaanta Logo" class="nav-logo-img">
                <div class="logo-text">
                    <span class="brand-name">NETHRA</span>
                    <span class="brand-sub">SENIOR CARE</span>
                </div>
            </div>
            <p class="tagline">Retirement Communities<br>and Senior Living Care</p>
            <div class="contact-info">
                <p>+91 844 844 4714</p>
                <p><a href="mailto:info@netra.com">info@nethra.com</a></p>
            </div>
            <div class="social-icons">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>

        <div class="footer-column">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../about/about1.html">About Us</a></li>
                <li><a href="#">Life at Nethra</a></li>
                <li><a href="#">Vedaanta Vantage</a></li>
                <li><a href="#">Career & Partnerships</a></li>
                <li><a href="../contact/contact.html">Contact Us</a></li>
            </ul>
        </div>

      
        <div class="footer-column">
            <h3>Our Locations</h3>
            <ul>
                <li><a href="#">Senior Citizen Homes in Coimbatore</a></li>
                <li><a href="#">Retirement Homes in Bangalore</a></li>
                <li><a href="#">Retirement Homes in Hosur</a></li>
                <li><a href="#">Retirement Homes in Kerala</a></li>
                <li><a href="#">Retirement Homes in Chennai</a></li>
                <li><a href="#">Upcoming...</a></li>
            </ul>
        </div>

       
        <div class="footer-column">
            <h3>Nethra Insights</h3>
            <ul>
                <li><a href="#">Download Corporate Brochure</a></li>
                <li><a href="#">Read our latest Newsletter</a></li>
            </ul>
        </div></div>
    
     
    <div class="footer-bottom-bar">
        <div class="bottom-content">
            <p>Copyright © NETHRA SENIOR LIVING PVT. LTD.</p>
            <p>Terms of use | Privacy Policy</strong></p>
        </div>
    </div>
</footer>
<script src="../js/component.js"></script>



</html>